{% extends "base.html.twig" %}

{% block stylesheets %}
    <style>
        table{
            background: #EEE;
            border: 1px solid #9E9E9E;
            font-weight: 500;
            font-family: sans-serif;
            border-collapse: collapse;
            margin: 0 auto;
            margin-top: 15px;
        }
        td{
            padding: 10px;
        }
        a{
            padding: 10px 20px;
            background: #673AB7;
            border: 1px solid #4600ff;
            display: flex;
            width: fit-content;
            text-decoration: none;
            border-radius: 3px;
            color: #FFF;
            font-size: 13px;
            font-weight: 700;
            margin: 0 auto;
        }
        .btns{
            display: flex;
            grid-gap: 10px;
            border:0;
        }
    </style>
{% endblock %}

{% block body %}
<a href="{{path('ajout_films')}}">Add film</a>
<table border="1">
    <thead>
        <tr>
            {# <td>Id</td> #}
            <td>Titre</td>
            <td>Realisateur</td>
            <td>Date_sortie</td>
            <td>Genre</td>
            <td>Options</td>
        </td>
    </thead>
    <tbody>
        {% for film in films %}
            <tr>
                {# <td>{{film.id}}</td> #}
                <td>{{film.titre}}</td>
                <td>{{film.realisateur}}</td>
                <td>{{film.getDateSortie()|date('Y-m-d')}}</td>
                <td>{{film.genre}}</td>
                <td class="btns">
                    <a href="{{path('supp_film',{id: film.id})}}">Supprimer</a>
                    <a href="{{path('details_film',{id: film.id})}}">Details</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}